/**
 * HTML FORM & SUCCESS SCREEN STYLING
 * An HTML form with validation and data submission to a CSV file.
 *
 * @author: Blessing Dongo
 * @version: 1.0.0
 */

html { overflow-y: scroll; overflow-x:hidden; }

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.header {
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 20px 40px;
}

.header img{
    width:20%;
    height:20%;
    margin:auto;
    display: block;
}

.header h2 {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:28px;
    text-align:center;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border: none !important;
}

.form-control input, .form-control select {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    display: block;
    font-family: 'Arial';
    font-size: 14px;
    padding: 10px;
    width: 100%;
    color:#202020;
    margin:0;
}

.help-block{
font-size:11px;
color:#636363;
}

::placeholder{
    color:#202020;
}

.form-control input:focus, .form-control select:focus {
    outline:2px solid #d1dd2b;
    border-color: #ffffff;
}

.error { 
    color: #e74c3c;
    font-weight: normal;
    font-family: "Arial";
    font-size:13px;
   }

   .form-validate input{
     margin-top: 10px;
   }
   
   button{
     display: block;
     margin-top: 10px;
   }

.form button {
    background-color: #d1dd2b;
    border: 2px solid #d1dd2b;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-family: 'Arial';
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.success{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.success svg{
    fill:#d1dd2b;
    width: 50px;
    height: 50px;

}

#homelink{
    margin-top: 20px;;
}

#homelink:hover{
    text-decoration: underline;
}
